---
import Header from '../../components/header/index.astro'
import '../../style/index.css'
import { getSanityAbout } from '../../utils/getSanityAbout'
import { renderMarkdown } from '../../utils/markdownRenderer'

const about = await getSanityAbout()
const aboutHtml = renderMarkdown(about?.fullMarkdown ?? '')
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👋🏾 Howdy</title>
</head>
<body>
    <section id="about" 
        class="max-w-2xl mx-auto px-4 py-8 font-serif">
        <Header/>
        <article class="ibm-plex-mono-medium text-sm">
            <Fragment set:html={aboutHtml} />
        </article>
    </section>
</body>
</html>
