---
  const { more  } = Astro.props

  import { Content as Intro } from '../../data/intro.md'
---

<section class="mb-12">
    
   
    <article class="ibm-plex-mono-medium text-sm ">
      <Intro />
    </article>

    <br>

    <br>

    
    
    {
      more && <a href="/about" class="text-default" >
      Discover more about me 🚀
    </a>
    }
  </section>
