---
  const { more  } = Astro.props
---

<section class="mb-12">
    
    <h2 class="ibm-plex-mono-semibold text-xl mb-4">About me</h2>
    <p class="ibm-plex-mono-medium ">
      I've been crafting my dreams for as long as I can remember. As a creator and software engineer, I am passionate about blockchain technology and the intricacies of Linux. I believe I can achieve anything I set my mind to.
    </p>
    <br>

    
    
    {
      more && <a href="/about" class="text-yellow-600" >
      View
    </a>
    }
  </section>