---
  const { more  } = Astro.props
  import {Content as AboutContent} from '../../data/about.md'
---

<section class="mb-12">
    
   
    <article class="ibm-plex-mono-medium text-sm ">
      <AboutContent />
    </article>
    <br>

    
    
    {
      more && <a href="/about" class="text-yellow-600" >
      View
    </a>
    }
  </section>