
<section>
    <h2 class="text-2xl font-bold mb-4">Writing</h2>
    <article class="group">
      <a href="#" class="flex items-center space-x-1 text-xl font-bold">
        <span>Fix "warning: object file (xyz) was built for newer macOS version (x.y) that being linked (y.z)"</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 opacity-0 group-hover:opacity-100 transition-opacity" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14M12 5l7 7-7 7" /></svg>
      </a>
      <p class="text-gray-600">Dec 4, 2022</p>
    </article>
  </section>