---
import Header from '../components/header/index.astro'
import Project from '../components/project.astro'
import About from '../components/sections/about.astro'
import RecentPosts from '../components/RecentPosts.astro'
import ActivityFeed from '../components/ActivityFeed.astro'
import '../../src/style/index.css'

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    
    <title>Emmanuel Obiabo</title>
    
    <script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-GSQTWFBD18"></script>
    <script is:inline>
      import { initializeAnalytics } from '../utils/analytics';
      initializeAnalytics();
    </script>


  </head>
  <body>
   
	<Header/>
    <div class="max-w-2xl mx-auto px-4 py-8 font-serif">
     

     <About more={true}/>

     <RecentPosts />

     <ActivityFeed />

      <Project/>
    </div>
  </body>
</html>
