---
  import Nav from './nav.astro'
  import ThemeToggle from '../ThemeToggle.astro'

  const personal_urls = [
    {
      title: 'Github',
      url: 'https://github.com/yhoungdev'
    },
    {
      title: 'LinkedIn',
      url: 'https://www.linkedin.com/in/emmanuel-obiabo'
    },
    {
      title: 'X (Formerly Twitter)',
      url: 'https://x.com/obiabo_immanuel'
    },



  ]

---

<div>
 
  <Nav/>

  <header class="text-center mb-12 mt-12">
    <img
      src="https://avatars.githubusercontent.com/u/54102389?v=4"
      alt="Profile picture"
      width="80"
      height="80"
      class="rounded-lg mx-auto mb-4"
    />


    <h1 class="text-3xl font-bold mb-2">Emmanuel Obiabo</h1>

    <div class="flex items-center flex-wrap gap-2 justify-center">
      {
        personal_urls.map ( items => (
          <a class="text-default text-xs underline"
             href={items.url} target="_blank">{items.title}</a>
        ))
      }
    </div>

    <center>

     <ThemeToggle />
    </center>
  </header>
</div>
