---
  const { intro  } = Astro.props

---

<div>

  
  <header class="text-center mb-12 mt-12">
    <img
      src="https://avatars.githubusercontent.com/u/54102389?v=4"
      alt="Profile picture"
      width="80"
      height="80"
      class="rounded-lg mx-auto mb-4"
    />

    <p>
      whoami 👋
     </p>
    <h1 class="text-3xl font-bold mb-2">Emmanuel Obiabo</h1>
    <p class="text-sm ">Open source // Made by Obiabo</p>
  </header>
</div>
