---
const navItems = [
  {
    title: 'Home',
    path: '/'
  },
  {
    title: 'Projects',
    path: '#projects'
  },
  {
    title: 'Howdy',
    path: '/about'
  },
  {
    title: 'Notes',
    path: '/notes'
  },
  {
    title: 'Contact',
    path: '/reach'
  },
];
---

<nav class="flex items-center justify-center mx-auto mt-4">
  <div class="flex items-center text-sm gap-4">
    {navItems.map((item) => {
      const isProjects = item.title === 'Projects';
      const href = isProjects && Astro.url.pathname !== '/' ? `/${item.path}` : item.path;

      return (
        <a
          href={href}
          class={`hover:text-default hover:underline ${
            Astro.url.pathname === item.path ? 'text-default underline' : ''
          }`}
        >
          {item.title}
        </a>
      );
    })}
  </div>
</nav>
